Welcome to Tricia's math application!
<br>
Do you want to do addition, subtraction, muliplication, or division?
<br>
<form method="post" action="math">
	<input type="text" name="math_type">
	<br>
What numbers do you want to use?
	<input num1="integer" name="num1">
	<input num2="integer" name="num2">
	<br>
	<br>
	<input type="submit">
</form>
