
<head>
<link href="/css/main.css" rel="stylesheet">
<title>
Tricia's Math Application
</title>
</head>

<body>
	<%=yield%>
</body>


<footer>
	<div class="new_river"> 
		Program created by Tricia Hoover
		<br>
		New River Community and Technical College
	</div>
</footer>
